#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

textarea{
  height: 50px;
  resize: none;
  border: none;
  background-color: transparent;
}

button{
  margin: 15px 0;
}

.edit{
  color: black;
  margin: 15px;
  background-color: orange;
  transition: .5s;
}

.edit:hover{
  border: none;
  outline: none;
  background-color: rgba(255, 166, 0, 0.712);
}

.edit:active{
  transform: translateY(7px);
}